! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

! font config
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

URxvt.intensityStyles:false
URxvt.foreground:#ffffff
URxvt.background:[78]#000000
URxvt.depth:32
URxvt.scrollBar:false
URxvt.cursorColor:white
!URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.matcher.button:	1
!URxvt.font: xft:Inconsolata:style=Regular:antialias=true:autohint=true:size=10
URxvt.font: xft:Source Code Pro for Powerline:size=9
URxvt.letterSpace: -1
URxvt.internalBorder: 9

rofi.color-enabled:true
rofi.color-window: #000, #000, #000
rofi.color-normal: #111, #819396, #222, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

rofi.lines: 5
rofi.bw: 0
rofi.hide-scrollbar: true
rofi.width: 40
